<style>
  a.g-school {
  text-decoration: underline;
  }
  #code {
    color: green;
    font-weight: bolder;
    font-size: larger;
  }
</style>
<em>Howdy Folks!</em> Just a quick note here:
<br><br>I will be teaching two workshops with <a href="www.galvanize.com/workshops/" class="g-school">Galvanize in Austin</a> starting in June.
<br><br>
<ul>
<li><a href="https://www.eventbrite.com/e/javascript-foundations-in-8-weeks-austin-june-7th-aug-4th-2016-tickets-22180699068" class="g-school">JavaScript Foundations in 8-Weeks | Austin | June 7th - Aug 4th 2016</a></li>
<li><a href="https://www.eventbrite.com/e/zero-to-web-designer-in-8-weeks-austin-june-6th-aug-3rd-2016-tickets-24355573175" class="g-school">Zero to Web Designer in 8 Weeks | Austin | June 6th - Aug 3rd 2016</a></li>
</ul>
Sign-up today with the code <span id="code">"gCode"</span> to save 50% off.
<br><br>Please feel free to contact me via <a class="g-school" href="mailto:oliver.treadwell@gmail.com">email</a> or <a href="https://twitter.com/olitreadwell" class="g-school">twitter</a> if you'd like to talk about the courses some more.
<br><br>I look forward to talking with you. <strong>Cheers!</strong>
<br><br><em> -- Oli Treadwell</em>
<hr>
