<style>
  a.new-opps {
  text-decoration: underline;

  }
</style>

<em>Howdy Folks!</em> Just a quick note here:
<br><br>I am searching for new development opportunities and a great team alongside. If you know <em><strong>just one</strong></em> person I could chat with, please get in touch via <a class="new-opps" href="mailto:olitreadwell@gmail.com">email</a> or any other way you can. You can learn more about me through my <a class="new-opps" href="https://www.linkedin.com/in/olitreadwell">LinkedIn</a>, <a class="new-opps" href="https://www.github.com/olitreadwell">Github</a>, and <a class="new-opps" href="http://bit.ly/olitreadwell-resume-2016mar12">Resume</a>.
<br><br>I look forward to talking with you. <strong>Cheers!</strong>
<br><br><em> -- Oli Treadwell</em>
<hr>
